.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    background-color:#2F3059; /* Color for the underline */
    transition: transform 0.3s ease, width 0.3s ease; /* Smooth animation */
}
