.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 10px;
    width: 800px;
}

.search-input {
    width: 300px;
    margin-right: 10px;
}

.form-control{
    width: 500px;
    background-color: #bab2efdc;
}
.btndesign{
    background-color: #bab2efdc;
    border-color: #bab2efdc;
}
.btndesign:hover{
    background-color: #2F3059;
}
.card-body{
    background-color: #2F3059;
    color:#ffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-design{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card{
    border-radius: 20px;
}
.btn-group{
    background-color: #bab2efdc;
    border-radius: 20px;
}
.btn-outline-secondary{
    color:#ffff; 
}
.text-body-secondary1{
    color:#ffff; 
}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-text-heading{
    font-weight: bold;
    color: #ffff; 
}
.Articles-heading{
    font-weight: bold;
    color:#2F3059;
    margin-bottom: 30px;
    font-size: 30px;
}

.dropdown{
    margin-left: 940px;
    margin-top: -45px;
}