.teams-heading{ 
    color:#2F3059;
    font-weight: bold;
    margin-top: 50px;
}
.text-names{
    color:#2F3059;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.pg-text{
    color:#2F3059;
}